::selection {
    text-shadow: none;
    background: #71FE60;
}
body {
    padding-top: 50px;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}
footer{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #9acfea;
    display: block;
    background-color: #2a2730;
}
footer div{
    border: solid 1px;

}
section{
    padding-top: 3em;
    padding-bottom: 5em;
/* border: solid 1px;*/
}
section i{
    color:#71FE60;
}
#about-me{
}
#hobbies{
}
#skills{
    background-color: #eee;
    min-height: 350px;

}
.cover{
    height: 550px;
    background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff
}
.section-header{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}
.section-sb-header{
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 30px;
    font-style: italic;
}
.text-gray{
    color: #777;

}

.navbar-nav li{
    font-size: 20px;
}
.hobbies-header{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
#hobbies p{
    font-size: 12pt;
    line-height: 1;
}
